# Ignore large files
*.pdf
*.docx
*.csv
*.tsv
*.zip
*.mp4
.DS_Store

# API key for Google maps
api.key

# This folder is for storing files for the Postgres container
# used for this assignment
Assignment5/source_code/postgres/
